.chatList {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr {
        border: none;
        height: 3px;
        background-color: #ddd;
        opacity: 0.1;
        border-radius: 5px;
        margin: 25px 0px;
    }

    .title {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .cl-msg {
            padding-top: 30px;
        }
    }

    a {
        padding: 15px;
        border-radius: 11px;

        &:hover {
            background-color: #2c2937;
        }
    }

    .chatItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px;
        border-radius: 11px;
        position: relative;

        &:hover {
            background-color: #2c2937;
        }
        
        a {
            flex: 1;
            color: inherit;
            text-decoration: none;
        }
    }

    .deleteIcon {
        color: #b3b3b3;
        cursor: pointer;
        margin-left: 15px;
        margin-right: 15px;
        transition: color 0.3s ease;

        &:hover {
            color: red;
        }
    }

    .upgrade {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 15px;

        img {
            width: 25px;
            height: 25px;
        }

        .texts {
            display: flex;
            flex-direction: column;

            span {
                &:first-child {
                    color: greenyellow;
                    font-weight: 700;
                }

                &:last-child {
                    color: yellow;
                    font-weight: 500;
                }
            }
        }
    }
}